.title {
    margin: 1rem;
    border: 3px solid #f8f9fa;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
}
.title:hover {
    color: #212529 !important;
    background-color: #f8f9fa !important;
}
.white-border {
    border: 1px solid #f8f9fa;
}

.project-btn {
    margin: 4px;
}
.mealmatch-btn:hover {
    /*border: 1px solid #f9becb !important;
    background-color: #FB4670 !important;
    color: #f8f9fa !important;*/
    border: 1px solid #FB4670 !important;
    color: #FB4670 !important;
    background-color: #212529 !important;
}
.itchio-btn:hover {
    border: 1px solid #f18253 !important;
    color: #f18253 !important;
    background-color: #212529 !important;
}
.github-btn:hover {
    border: 1px solid #9461fb !important;
    color: #9461fb !important;
    background-color: #212529 !important;
}

.no-margin {
    margin: 0;
}
.h5-margin {
    margin-bottom: 2px;
}

.padded {
    padding-left: 1rem;
    padding-right: 1rem;
}
.small-padded {
    padding: .5rem;
}

.sized-image {
    height: 2rem;
    width: auto;
}