:root {
    --mealmatch: #FB4670;
    --github: #9461fb;
    --itchio: #f18253;
    --offwhite: #f8f9fa;
    --background: #212529;
}

.title {
    margin: 1rem;
    color: var(--offwhite);
    border: 3px solid var(--offwhite);
    -webkit-transition: all .3s ease-in-out !important;
    -moz-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
    text-overflow: ellipsis;
}
.title:hover {
    color: var(--background);
    background-color: var(--offwhite);
}
.white-border {
    border: 1px solid var(--offwhite);
}

.project-btn {
    margin: 4px;
}
.mealmatch-btn:hover {
    border: 1px solid var(--mealmatch) !important;
    color: var(--mealmatch) !important;
    background-color: var(--background) !important;
}
.github-btn:hover {
    border: 1px solid var(--github) !important;
    color: var(--github) !important;
    background-color: var(--background) !important;
}
.itchio-btn:hover {
    border: 1px solid var(--itchio) !important;
    color: var(--itchio) !important;
    background-color: var(--background) !important;
}
.repository-btn:hover {
    border: 1px solid var(--offwhite) !important;
    color: var(--offwhite) !important;
    background-color: var(--background) !important;
}

.no-margin {
    margin: 0;
}
.h5-margin {
    margin-bottom: 2px;
}
.p-margin {
    margin-bottom: 8px !important;
}  

.padded {
    padding-left: 1rem;
    padding-right: 1rem;
}
.small-padded {
    padding: .5rem;
}