---
name: Potato
desc: A magnificent rave on the sheer brilliance of potatoes.
date: "12-9-2024"
category: cloud
github: "https://github.com/owenshadburne"
color: amber
---

# Potato

There's nothing like potatoes out there. They're simply such a versatile and delicious vegetable that even meat loves will forsake their hatred of vegetables to delight in their offering.

