---
group: projects
id: warpd
color: violet
visible: true

name: WARPD
desc: "A fast-paced 2D arcade game about juggling speed and fragility."
date: 6-11-2024
pinned: false

category: game
languages:
    - C#
frameworks:
    - Unity
tools:
    - Git

live: "https://cubetures.itch.io/warpd"
---
