@import 'vars.sass'

.margin-bottom
    margin-bottom: $padding

.book-list
    display: grid
    grid-template-columns: 1fr 1fr
    gap: $padding

.book
    background-color: $background-color
    border-radius: $border-radius
    overflow: hidden
    position: relative
    cursor: pointer
    display: flex

    aspect-ratio: 2 / 3
    max-height: 100%
    max-width: 100%

.book-cover-background
    background-color: white
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 0

.book-title-gradient
    background: $title-gradient
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    padding: $padding
    z-index: 2

.book-title
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2
    text-overflow: ellipsis
    overflow: hidden
    color: $text-color

    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: $padding

.book-cover
    border-radius: $border-radius
    object-fit: cover
    display: block
    max-width: 100%
    max-height: 100%
    margin: auto
    z-index: 1

.book-info-container
    overflow: auto

.book-info
    min-height: 300px
    min-width: 200px
    // height: auto
    // width: 50%
    // max-height: ???
    aspect-ratio: 2 / 3
    position: relative
    float: left
    margin-right: 12px
    border-radius: 12px
    overflow: hidden

@media (min-width: 640px)
    .book-list
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: $padding
@media (min-width: 768px)
    .book-list
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        gap: $padding
@media (min-width: 1024px)
@media (min-width: 1280px)
@media (min-width: 1536px)
