@font-face {
  font-family: "Baloo";
  src: url("../../Data/BalooBhaina2-VariableFont_wght.ttf");
}

:root[data-theme="light"] {
  --text: #25040c;
  --background: #fef1f4;
  --primary: #b5032c;
  --secondary: #f9becb;
  --accent: #d51542;
}
:root[data-theme="dark"] {
  --text: #fbdae2;
  --background: #0e0104;
  --primary: #fc4a74;
  --secondary: #410613;
  --accent: #ea2a56;
}

.primary-color {
  background-color: #fc4a74
}
.dark-color {
  background-color: #282828;
}

body {
  font-family: "Baloo";
  padding-bottom: 5rem;
}
.padded {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  padding: 1rem;
}

.top-div {
  text-align: center;
  background-color: #fc4a74;
}
.bottom-border {
  border-bottom: 3px solid #282828;
  margin-bottom: 0px;
}
.top-border {
  border-top: 3px solid #282828;
  margin-top: 0px;
}

.image-button {
  background-color: transparent;
  border-color: transparent;
}
.toolbar-image {
  height: 3rem;
  width: auto;
}
.pill-image {
  height: 2rem;
  width: auto;
}

.hidden {
  display: none;
}
.session-element {}

.xxl-font {
  font-size: 64px;
  margin-top: 28px;
  margin-bottom: 0px;
}
.xl-font {
  font-size: 48px;
  margin-top: 16px;
  margin-bottom: 0px;
}
.l-font {
  font-size: 36px;
  margin-top: 8px;
  margin-bottom: 0px;
}

