@font-face {
  font-family: "Baloo";
  src: url("/Data/MealMatch/BalooBhaina2-VariableFont_wght.ttf");
}

:root {
  --primaryColor: #FB4670;
  --borderColor: #f9becb;
  --primary-transparent: rgba(252, 74, 116, .25);
}
:root[data-theme="light"] {
  --text: #25040c;
  --background: #fef1f4;
  --primary: #b5032c;
  --secondary: #f9becb;
  --accent: #d51542;
}
:root[data-theme="dark"] {
  --text: #fbdae2;
  --background: #0e0104;
  --primary: #fc4a74;
  --secondary: #410613;
  --accent: #ea2a56;
}

.primary-color {
  background-color: var(--primaryColor);
}
.primary-color-opacity {
  background-color: var(--primary-transparent);
}
.dark-color {
  background-color: #282828;
}
.colored-input {
  border: 1px solid var(--borderColor);
}
.colored-input:focus {
  box-shadow: none;
}
.opacity-75 {
  opacity: .75;
}
.opacity-50 {
  opacity: .5;
}

body {
  font-family: "Baloo";
  padding-bottom: 5rem;
}
.padded {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  padding: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: 1px solid var(--borderColor);
}
.padded-2 {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  border: 1px solid var(--borderColor);
}
.padded-top {
  padding-top: 16px !important;
  padding-bottom: 0px !important;
}
.padded-bottom {
  padding-bottom: 1rem !important;
}
.padded-extension {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.bordered {
  border: 1px solid var(--borderColor) !important;
}
.no-border {
  border: 0px !important;
}
.no-top-border {
  border-top: 0px !important;
}
.btn {
  border-color: var(--borderColor);
}
.white-border {
  border-color: #FAF9F6;
}
.no-margin {
  margin: 0 !important;
}

.top-div {
  text-align: center;
  background-color: #fc4a74;
}
.bottom-border {
  border-bottom: 1px solid var(--borderColor);
  margin-bottom: 0px;
}
.top-border {
  border-top: 1px solid var(--borderColor);
  margin-top: 0px;
}
.flat-bottom {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.flat-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: none !important;
}
.flex-wrap-checkbox {
  margin: .5rem;
  min-width: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.image-button {
  background-color: transparent;
  border-color: transparent;
}
.toolbar-image {
  height: 3rem;
  width: auto;
}
.pill-image {
  height: 2rem;
  width: auto;
}
.footer-image {
  vertical-align: bottom;
  margin-top: 1rem;
  border: 0;
  height: 2rem;
  width: auto;
}
.clipboard-image {
  height: 2rem;
  width: auto;
  margin-bottom: .5rem;
}
.even-button-padding {
  padding: 6px;
}

.match-element {
  margin-top: 1rem;
}
.match-element:hover {
  cursor: pointer;
}
.people-element {}
.disclaimer-text {
  margin-bottom: 0px;
}

.xxl-font {
  font-size: 64px;
  margin-top: 28px;
  margin-bottom: 0px;
}
.xl-font {
  font-size: 48px;
  margin-top: 16px;
  margin-bottom: 0px;
}
.l-font {
  font-size: 36px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.m-font {
  font-size: 24px;
  margin-top: 4px;
  margin-bottom: 0px;
}
.m-font-special {
  font-size: 24px;
  margin-bottom: 0px;
}
.s-font {
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.no-overflow {
  min-width: 0;
}
.no-overflow-text {
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}
.no-overflow-boxes {
  flex-shrink: 0;
}

.vertical-input-group .input-group:first-child {
  margin-bottom: 0;
}
.vertical-input-group .input-group:first-child * {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;    
}
.vertical-input-group .input-group:last-child {
  margin-top: -1rem;
}
.vertical-input-group .input-group:last-child * {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) {
  margin-top: -1rem;
  margin-bottom: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) * {
  border-radius: 0;
}  
.vertical-input-group .input-group:not(:first-child) * {
  border-top: 0;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--primaryColor);
  border: 1px solid var(--borderColor);
}
input[type="range"]::-moz-range-thumb {
  background-color: var(--primaryColor);
  border: 1px solid var(--borderColor);
}
input[type="range"]::-ms-thumb {
  background-color: var(--primaryColor);
  border: 1px solid var(--borderColor);
}