---
group: projects
id: example
name: Example
desc: An example project for testing my static site generation.
date: "12-10-2024"
category: web
languages:
    - go
    - typescript
frameworks:
    - svelte
libraries:
    - unovis
tools:
    - git
github: "https://github.com/owenshadburne"
live: "https://www.example.com"
color: rose
---

<script>
	import Example from "$lib/components/example.svelte";
</script>

# Example

This should be the page content for the project `example`.

Nothing complex yet. Let's see if this works.

```ts
export function example(num: int) {
	const a = `Hello World ${num}!`;
}
```

![{group} {id}](icon.png)

<Example />
