---
group: projects
id: example

name: Example
desc: An example project for testing my static site generation.
date: "12-10-2024"
category: web
languages:
    - Go
    - TypeScript
frameworks:
    - Svelte
libraries:
    - Unovis
tools:
    - Gitlab
github: "https://github.com/owenshadburne"
live: "https://www.example.com"
color: rose
visible: false
exclude: true
---

<script>
	import Example from "$lib/components/example.svelte";
</script>

# Example

This should be the page content for the project `example`.

Nothing complex yet. Let's see if this works.

```ts
export function example(num: int) {
	const a = `Hello World ${num}!`;
}
```

![{group} {id}](icon.png)

<Example />
