---
group: projects
id: "brain-and"
color: yellow
visible: true

name: Brain&
desc: An intense puzzle game build around a custom esoteric programming language.
date: 7-1-2022
pinned: false

categories: 
    - game
languages:
    - C#
frameworks:
    - Unity
tools:
    - Git

live: "https://cubetures.itch.io/brainand"
github: "https://github.com/owenshadburne/BrainAnd"
---
