html,
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.row {
  border: 1px dotted grey;
}

.header {
  flex-basis: auto;
  transition: all .5s ease;
}
.expand {
  flex: 1 0 auto;
}

.content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  max-height: 100vh;
  overflow-y: auto;
  transition: all .5s ease;
}
.shrink {
  max-height: 0 !important;
}

.footer {
  height: 40px;
}