---
group: experience
id: civil
color: blue
visible: true

start: "7-1-2023"
end: "7-1-2023"
position: Intern
company: Austin Civil Engineering
location: Austin, TX
desc: "Composed a new applicant exam with various questions about civil engineering, city planning, mathematics, and emotional intelligence and provided a presentation on the revision to the company of 10 employees."

categories: 
   - other
other:
    - Mathematics
    - QA
---
