---
group: experience
id: soule
color: fuchsia
visible: true

start: "3-1-2024"
end: "8-1-2024"
position: Lead Software Developer
company: Soule
location: Remote
desc:
    - "Led all staff meetings, managed financial calculations, and ensured adherence to deadlines across the company."
    - "Architected and implemented a cloud-hosted Azure Web App API using Express.js, integrating Azure Cosmos DB, Storage Account, and Authentication services with the app."
    - "Designed multiple UI iterations with Figma and Expo, earning praise from an ex-tinder employee on the final design."
    - "Coded a comprehensive dating app with React Native and Expo, featuring robust authentication, matchmaking, messaging, and customization features."

category: "full-stack"
languages:
    - TypeScript
frameworks:
    - React Native
    - Expo
libraries:
    - Express
    - CosmosDB
    - Azure B2C
platforms:
    - Microsoft Azure
    - Azure Web Apps
    - Node
tools:
    - Docker
    - Git
---

# About my time at Soule
