---
group: experience
id: ta
color: red
visible: true

start: "1-3-2025"
end:
position: Teaching Assistant
company: Texas A&M University
location: College Station, TX
desc:
    - "Lead the instruction of an Honors Data Structures in C++ lab twice a week."
    - "Organize bi-weekly office hours to assist students in their study of Data Structures."

category: other
languages:
    - C++
other:
    - Data Structures
    - Teaching
---
