.text-wrap {
    overflow: wrap;
    overflow-wrap: break-word;
    hyphens: auto;
}

.spacing {  visibility: hidden; }
.spacing:after { content: 'Filler'; }

/* .shadow-over {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), canvas);
} */