.text-wrap {
    overflow: wrap;
    overflow-wrap: break-word;
    hyphens: auto;
}

.spacing {  visibility: hidden; }
.spacing:after { content: 'Filler'; }

.left-parallax {
    left: -4rem;
    transform: rotate(30deg);
}

.card {
    width: 15%;
}
