@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 3.9%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		--transition: 0.3s cubic-bezier(0.15, 0.54, 0.31, 0.91);
		--primary-filter: brightness(0) saturate(100%) invert(65%) sepia(71%)
			saturate(2776%) hue-rotate(192deg) brightness(105%) contrast(99%);
	}

	.dark {
		--background: 210 10.8% 14.5%;
		--middleground: 214 8% 17.1%;
		--foreground: 210 13.8% 88.6%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 210 13.8% 63.9%;
		--popover: var(--background);
		--popover-foreground: var(--foreground);
		--card: var(--background);
		--card-foreground: var(--foreground);
		--border: 220 4.3% 27.5%;
		--input: var(--background);
		--primary: 216 98.6% 71.4%;
		--primary-foreground: var(--middleground);
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--accent: 214 8% 22%;
		--accent-foreground: var(--primary);
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: var(--foreground);
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

body * {
	transition: text-decoration var(--transition), border var(--transition);
}

.tilter {
	transform-style: preserve-3d;
	transform: perspective(1000px);
	transition: all var(--transition);
}

.tilter * {
	transition: all var(--transition);
}

.tilter:hover .elevated-sm {
	transform: translateZ(10px);
}

.tilter:hover .elevated-md {
	transform: translateZ(30px);
}

.tilter:hover .elevated-lg {
	transform: translateZ(50px);
}

.tilter:hover .elevated-btn:hover {
	transform: translateZ(100px);
}

.tilter:hover .card-header {
	border: inherit;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
/* 
.badge {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: -0.5rem;
	right: -0.5rem;
	transition: all var(--transition);
}

.tag:hover .badge {
	opacity: 100%;
	visibility: visible;
} */
