---
group: projects
id: core-control
color: sky
visible: true

name: Core Control
desc: "An arcade-style 2D game about possessing your enemies that placed 2nd in the Zeno Game Jam."
date: "12-1-2021"
pinned: false

category: game
languages:
    - C#
frameworks:
    - Unity
tools:
    - Git
other:
    - Collaborative

live: "https://bobgames1215.itch.io/core-control"
---
